body {
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family:'Roboto', arial;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

/* ------------------------------------------------- */
                /* HEADER SECTION */
/* ------------------------------------------------- */

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    background-color: #1f2937;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

/* ------------------------------------------------- */
                /* CALCULATOR SECTION */
/* ------------------------------------------------- */

.calculcator-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calculcator-body {
    background-color: rgb(30, 30, 30);
    padding: 16px;
    border-radius: 10px;
}

/* ------------------------------------------------- */
                /* CALCULATOR SCREEN SECTION */
/* ------------------------------------------------- */

.calculator-screen {
    background-color: #00b1c5;
    font-family: 'casio-fx-115es-plus';
    border-radius: 10px;
    margin-bottom: 20px;
    color: rgb(30, 30, 30);
    
}

@font-face {
    font-family: 'casio-fx-702p';
    font-style: normal;
    font-weight: normal;
    src: local('casio-fx-702p'), url('./fonts/casio-fx-702p.woff') format('woff');
}

@font-face {
    font-family: 'digital-7';
    font-style: normal;
    font-weight: normal;
    src: local('digital-7'), url('./fonts/digital-7.ttf') format('ttf');
}

@font-face {
    font-family: 'casio-fx-115es-plus';
    font-style: normal;
    font-weight: normal;
    src: local('casio-fx-115es-plus'), url('./fonts/casio-fx-115es-plus.ttf');
}


.screen-line {
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}

#previous-result {
    font-size: 20px;
    padding-bottom: 0px;
    min-height: 1.5em;
}
#current-result {
    font-size: 30px;
    font-weight: bold;
}


/* ------------------------------------------------- */
                /* CALCULATOR BUTTON SECTION */
/* ------------------------------------------------- */

button {
    background-color: #1f2937;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: rgb(183, 183, 183);
    padding: 5px;
    aspect-ratio: 1;
    width: 80px;
    margin: 4px;
    font-size: 40px;
    font-family: 'casio-fx-115es-plus';
    
}

button:hover {
    background-color: darkgrey;
    color: darkslategrey;
}

button:active {
    background-color: pink;
    color: darkslategrey;
}
  

.operation-button {
    background-color: darkred;
}


#equals-key {
    background-color: goldenrod;
    color: darkslategrey;
}

#equals-key:hover {
    background-color: lightgrey;
    color: darkslategrey;
}

#equals-key:active {
    background-color: darkslategrey;
    color: lightcyan;
}

#clear-screen-key, #delete-key {
    background-color: darkblue;
}

#clear-screen-key:hover, #delete-key:hover {
    background-color: darkgrey;
    color: darkslategrey;
}

#clear-screen-key:active, #delete-key:active {
    background-color: lightgrey;
    color: darkslategrey;
}
  


/* ------------------------------------------------- */
                /* FOOTER SECTION */
/* ------------------------------------------------- */

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
    align-items: center;
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-top: auto;
    gap: 20px;
}

.footer-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#github-link {
    margin: 0;
    padding: 0;
}

#github-image {
    width: auto; /* Allow the image width to adjust based on its content */
    height: 25px; /* Set a specific height for the image if needed */
}